# Игнорируем базу данных и логи
bot_database.db
bot.log
*.log

# Игнорируем локальные настройки
.env
__pycache__/
*.pyc

# Игнорируем виртуальное окружение
venv/
.env/
mybot/

# Игнорируем IDE файлы
.idea/
.vscode/
*.swp
*.swo